html {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #F0ECE5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* Header */
.header {
  grid-column: 1 / -1;
  background-color: #31304D;
  display: flex;

  height: 60px;
}

.header>h1 {
  font-size: 1.3rem;
  margin: auto;
}

/* Main */
.container-body {
  min-height: calc(100vh - 60px);
  min-width: min-content;
  background-color: #161A30;
}